body {
    background-color: #202632;
    justify-content: center;
    min-width: 365px;
    padding-top: 30%;
}

#heading {
    color: #50f0a2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: 4.6px;
    padding-top: 6.6%;
    padding-bottom: 0%;
    margin: auto;
    font-weight: bolder;
    position: relative;
    top: 12%;
}

#container {
background-color: #313a49;
max-width: 37.769%;
max-width: 713px;
min-height: 440px;
margin: auto;
border: 0px ;
border-radius: 23px;
justify-content: center;
box-sizing: border-box;
position: relative;
display: flexbox;
}


.line1 {
    text-align: center;
    color: #cee3e8;
    font-family: 'verdana';
    padding-top: 0%;
    margin-top: 5.8%;
    padding-bottom: 0%;
    margin-bottom: 0;
}

.line2 {
    text-align: center;
    color: #cee3e8;
    font-family: 'verdana';
    padding-top: 1.1%;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0;
}

#container h1 .line3 {
    text-align: center;
    color: #cee3e8;
    font-family: 'verdana';
    padding-top: 1.3%;
    margin-top: 0%;
}




#pattern-divider {
    zoom: 1;
    width: 80%;
    height: auto;
    display: block;
    padding-top: 5%;  
    margin: auto;
    
}

#diceContainer {
    width: 4.42%;
    max-width: 85px;
    width: 83px;
    height: 83px;
    border-radius: 100%;
    background-color: #53ffab;
    border: 0px;
    margin: auto;
    color: transparent;
    position: absolute;
    right: 42%;
    bottom: -9%;    

}


.glow {
    background-color: #1aff88;
    box-shadow: -1px -1px 8px 8px  #1aff88;
    transform: scale(0.95);
}



#dice {
    width:33.8%;
    height:auto;
    padding: auto;
    margin: auto;
    position: inherit;
    right: 33.7%;
    bottom: 32%;
}

@media screen and (min-width:515px) {
    #diceContainer {
        width: 4.42%;
        max-width: 85px;
        width: 83px;
        height: 83px;
        border-radius: 100%;
        background-color: #53ffab;
        border: 0px;
        margin: auto;
        color: transparent;
        position: absolute;
        right: 44%;
        bottom: -9%;
     
    
    }
        
}

@media screen and (max-width:515px) {
    #diceContainer {
        width: 4.42%;
        max-width: 85px;
        width: 83px;
        height: 83px;
        border-radius: 100%;
        background-color: #53ffab;
        border: 0px;
        margin: auto;
        color: transparent;
        position: absolute;
        right: 41.5%;
        bottom: -9%;        
    
    }
        
}

@media screen and (max-width:505px) {
    #diceContainer {
        width: 4.42%;
        max-width: 85px;
        width: 83px;
        height: 83px;
        border-radius: 100%;
        background-color: #53ffab;
        border: 0px;
        margin: auto;
        color: transparent;
        position: absolute;
        right: 39.5%;
        bottom: -9%;        
    
    }
     
   
}

@media screen and (max-width:405px) {
    #diceContainer {
        width: 4.42%;
        max-width: 85px;
        width: 83px;
        height: 83px;
        border-radius: 100%;
        background-color: #53ffab;
        border: 0px;
        margin: auto;
        color: transparent;
        position: absolute;
        right: 38.5%;
        bottom: -9%;        
    
    }
        
}

@media screen and (max-width:385px) {
    #diceContainer {
        width: 4.42%;
        max-width: 85px;
        width: 83px;
        height: 83px;
        border-radius: 100%;
        background-color: #53ffab;
        border: 0px;
        margin: auto;
        color: transparent;
        position: absolute;
        right: 38%;
        bottom: -9%;        
    
    }
        
}

@media screen and (min-width:768px) {
    #container {
        background-color: #313a49;
        max-width: 37.769%;
        max-width: 713px;
        min-height: 440px;
        margin: auto;
        border: 0px ;
        border-radius: 23px;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        display: flexbox;
        }

        body {
            background-color: #202632;
            justify-content: center;
            min-width: 365px;
            padding-top: 17%;
        }   
        
}

@media screen and (max-width:431px){
    .pic1 {
        background-image: url(images/pattern-divider-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        align-self: center;
        scale: inherit;
        line-height: 140%;
        width: 100%;
        padding-bottom: 6px;
        zoom: 0.7;
        position: absolute;
        color: transparent;

    }

    #pattern-divider{
        display: none; 
        position: absolute;
        top: -9%
    }

    .line1 {
    text-align: center;
    color: #cee3e8;
    font-family: 'verdana';
    padding-top: 0%;
    margin-top: 5.8%;
    padding-bottom: 0%;
    margin-bottom: 0;
}

.line2 {
    text-align: center;
    color: #cee3e8;
    font-family: 'verdana';
    padding-top: 1.1%;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0;
}

#container h1 .line3 {
    text-align: center;
    color: #cee3e8;
    font-family: 'verdana';
    padding-top: 1.3%;
    margin-top: 0%;
}
}
